@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #f8f8f8;
    --dark-green: #0d301d;
    --red: #c25c5f;

    --color-primary: var(--dark-green);
    --color-secondary: var(--grey);
    --color-accent: var(--red);

    /*2.986rem*/
    --font-size-h1: 2.906rem;
    --font-size-h2: 2.328rem;
    --font-size-h3: 2.074rem;
    /*
    --font-size-h4: 1.728rem;
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.2rem;
    */
    --font-size-a: 1rem;
    --font-size-button: 1.2rem;

    /*1rem*/
    --font-size-p: 1.44rem;
    /*0.833rem*/
    --font-size-small: 0.833rem;
    /*0.694rem*/
    --font-size-very-small: 0.694rem;
}

body {


    background-color: var(--color-secondary);
    color: var(--color-primary);

    margin-inline: auto;

    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;

    filter: grayscale(1);
    transition: filter .4s ease-in-out;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
    margin-bottom: 28px;
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-p);
}

a {
    font-size: var(--font-size-a);
}

button {
    font-size: var(--font-size-button);
}

small {
    font-size: var(--font-size-small);
}

h1,
h2,
h3,
a {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a,
a:visited {
    color: var(--color-accent);
    font-weight: bold;
}

button {
    padding: 8px 8px;
    background-color: var(--color-accent);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    flex: auto;
    /*margin-bottom was 50px previously*/
    margin-bottom: 20px;
}

section:first-of-type,
footer {
    flex: 1;
}

section,
footer {
    padding-inline: 10px;
}

#hero {
    margin-top: 20px;
}

#hero>h1 {
    text-shadow: 2px 3px 0 var(--color-secondary);

    transition: text-shadow .4s ease-in-out;
}

#hero-btn {
    width: fit-content;
    align-self: center;
}


#about {
    display: flex;
    flex-direction: column;
}

#about__title {}

#about__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#about__body>p {
    text-align: left;
    text-wrap-style: balance;
    margin-bottom: 26px;
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item-name {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: var(--font-size-a);
    margin-bottom: 4px;
}

#toolsAndLanguages__list {
    list-style: none;
    margin-bottom: 26px;
    justify-items: center;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: .8rem;
    row-gap: 1.3rem;
    */
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

#toolsAndLanguages__list>* {

    text-align: center;
}

.about-item__logo {
    display: block;
    height: 40px;
    width: 40px;
}


#project__cards-warpper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;
}

.project__card {
    position: relative;
    padding: 6px 10px;
    border: 3px dashed var(--color-primary);
    transition: background-color .1s ease-in;

    flex: 0 1 340px;
}

.project__card>* {}

.project__card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='10' height='10' patternTransform='scale(1.8) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffff00'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='%230d301dff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    opacity: 0.09;
    z-index: -1;
}

.project__card:hover {
    background-color: #18633a17;
}

.project__card:hover::after {
    opacity: .15;
}

.project-card-title {
    margin-bottom: 10px;
}

.project-card-description {
    margin-bottom: 16px;
    text-wrap-mode: wrap;
    text-wrap-style: balance;
}

.project-card-tools-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card__item {
    background-color: var(--color-secondary);
    font-size: var(--font-size-a);
    padding: 4px 7px;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    width: fit-content;
    cursor: default;
}

.project-card-links {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#footer-top {
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

#footer-controls {
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

footer>p {
    text-align: center;
    font-size: var(--font-size-small);
}

@media screen and (width >=500px) {

    #hero,
    #about,
    #projects,
    #contact {
        max-width: 800px;
        justify-self: center;
    }

    #about__body {
        flex-direction: row;
    }

    #about__body>* {
        flex: 1;
    }

    footer {
        border-radius: 20px 20px 0px 0px;
    }
}

@media screen and (width >=1200px) {
    body {
        max-width: 1200px;
    }


}