@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --grey: #f8f8f8;
    --dark-green: #0d301d;
    --red: #c25c5f;

    --color-primary: var(--dark-green);
    --color-secondary: var(--grey);
    --color-accent: var(--red);

    --font-size-h1: 2.986rem;
    --font-size-h2: 2.488rem;
    --font-size-h3: 2.074rem;
    --font-size-h4: 1.728rem;
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.2rem;
    --font-size-p: 1rem;
    --font-size-small: 0.833rem;
    --font-size-very-small: 0.694rem;

    background-color: var(--color-secondary);
    color: var(--color-primary);

    margin-inline: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    filter: grayscale(1);
    transition: filter .4s ease-in-out;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
    padding-bottom: 28px;
}

h3 {
    font-size: var(--font-size-h3);
}

p,
a,
button {
    font-size: var(--font-size-p);
}

small {
    font-size: var(--font-size-small);
}

h1,
h2,
h3,
a {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a,
a:visited {
    color: var(--color-accent);
    font-weight: bold;
}

button {
    padding: 5px;
    background-color: var(--color-accent);
    color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section {
    flex: auto;
    margin-bottom: 50px;
}

section:first-of-type,
footer {
    flex: 1;
}

section,
footer {
    padding-inline: 10px;
}

#project__cards-warpper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;


}

.project__card {
    padding: 5px 8px;
    border: 3px dashed var(--color-primary);
    transition: background-color .1s ease-in;

    /*width: fit-content;*/
    /* TODO: THIS BREAKS FLEX-WRAP ON PARENT  */
    flex: 1;
}

.project__card:hover {
    background-color: #18633a27;
}

.project-card-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card__item {
    padding: 4px 7px;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    width: fit-content;
    cursor: default;

}

#about__title {}

#about__body {
    display: flex;
    flex-direction: column;

}

.about-item-name {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#toolsAndLanguages__list {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: .8rem;
    row-gap: 1.3rem;
}

#toolsAndLanguages__list>* {

    text-align: center;
}

.about-item__logo {
    display: block;
    height: 60px;
    width: 60px;
}


footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media screen and (width >=500px) {

    #about__body {

        flex-direction: row;
    }

    #about__body>* {
        flex: 1;
    }

    footer {
        border-radius: 20px 20px 14px 14px;
    }
}

@media screen and (width >=1200px) {
    body {
        max-width: 1200px;
    }
}